body { 
    margin: 2%;
    background-color: #42416b;
    color: #fff;
    font-family: sunset;
}

@font-face {
    font-family: sunset;
    src: url(./font/font1.ttf);
}

img {
    width: 19%;
}
p {
    font-size: 0.8em;
}
h1 {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}
a {
    color: #fff;
    text-decoration: none;
}
.nav_box > a {
    color: #42416b;
    font-size: 2rem;
}
a:hover {
    text-decoration: underline;
}

#flex {
    display: flex;
    flex-wrap: wrap;
}


#flexbox {
    display: flex;
    justify-content: center;
}

#slideshow {
    margin-top: 5%;
    margin-left: 1.7%;
    margin-bottom: 3%;
}

.slide {
    width: 5%;
    background-color: #fff;
    color: #000;
    margin: 1%;
    text-align: center;
}
.slide:hover {
    background-color: #cdcbf5;
    color: #000;
}

.smallest_img {
    width: 16%;
    opacity: 0.5;
    margin-bottom: 4%;
}

.smaller_img {
    width: 19%;
    opacity: 0.5;
    margin-bottom: 3%;
}

#great_img {
    width: 27%;
}

.nav_box {
    background-color: #fff;
    color: #000;
    text-align: center;
    margin: 5% auto;
    width: 35%;
    padding: 10% 1%;
}